<div class="container" style="margin-top:80px;">

  <!-- jumbotron que muestra la pregunta  -->
<div class="jumbotron">
  <h2><strong><%= @question.user.email     %></strong></h2>
  <h3><%= markdown(@question.title) %></h3>
  <p><%= markdown(@question.body) %></p>
    <% if signed_in? %>
      <% if current_user.id == @question.user.id %>
        <%= link_to 'Editar', edit_question_path(@question) %>
        <%= link_to 'Borrar', question_path(@question), method: :delete %>
      <% end %>
    <% end %>
  </br>
</br>
    <% if @question.voted_by? current_user %>
      <%= link_to 'Eliminar Voto',question_vote_path(@question), method: :delete %>
      <p>Votos: <%= @question.votes.count %></p>
    <% else %>
      <%= link_to 'Votar!', question_vote_path(@question), method: :post%>
      <p>Votos: <%= @question.votes.count %></p>
    <% end %>
</div>

<!-- Comentarios de las preguntas  -->
<h1><span class="label label-info">Comentarios</span></h1>

<!-- Loop que muestra los comentarios de las preguntas  -->
<% @question.comments.each do |comment| %>
  <p> <%= markdown(comment.body) %> <span class="user"> <%= comment.user.email %></span></p>
  <hr class="comments"/>
<%end %>

<!-- Form para comentar las preguntas -->
<% if signed_in? %>
  <h3>Comentar la Pregunta</h3>

  <p id="notice" style="color:red; font-size:25px;"><%= notice %></p>

  <%= form_for [@question, @question.comments.build] do |f| %>

    <div class="form-group">
      <%= f.text_area :body, class: "form-control", placeholder: "Agregar Comentario"%>
    </div>
      <%= f.submit "Comentar", class: "btn btn-primary" %>
  <% end %>

<% else %>
<div>
  <%= link_to "Comentar Pregunta", user_session_path, class: "btn btn-primary" %>
</div>

<% end %>


<!-- Linea que divide Comentarios de respuestas   -->
<hr class="section-divider"/>

<!-- Titulo de Respuestas -->
<h1><span class="label label-info">Respuestas</span></h1>

<!-- Loop que muestra las respuestas -->
<% @question.answers.each do |answer| %>
  <div class="jumbotron">
    <h3> <%= markdown(answer.body) %> </h3>
    <p>
      <span class="user"><%= answer.user.email %></span>
    </p>

  </br>
</br>
    <% if answer.voted_by? current_user %>
      <%= link_to 'Eliminar Voto',answer_vote_path(answer), method: :delete %>
      <p>Votos: <%= answer.votes.count %></p>
    <% else %>
      <%= link_to 'Votar!', answer_vote_path(answer), method: :post%>
      <p>Votos: <%= answer.votes.count %></p>
    <% end %>

    <hr class="comments"/>

<!-- Loop que muestra los comentarios a las respuestas  -->
  <% answer.comments.each do |comment| %>
    <p> <%= markdown(comment.body) %></p>
    <hr class="comments" />
  <%end %>

<!-- Seccion de comentar las respuestas -->
  <% if signed_in? %>
    <h3>Comentar la Respuesta</h3>

    <p id="notice" style="color:red; font-size:25px;"><%= notice %></p>

    <%= form_for [answer, answer.comments.build] do |f| %>
    <div class="form-group">
      <%= f.text_area :body, class: "form-control", placeholder: "Agregar Comentario a la respuesta"%>
    </div>
    <%= f.submit "Comentar", class: "btn btn-primary" %>
  <% end %>
  <% else %>
    <%= link_to "Comentar Respuesta", user_session_path, class: "btn btn-primary" %>
  <% end %>
  </div>
<%end %>

<!-- Linea que separa respuestas de preguntas para realizar nueva pregunta -->
<hr class="section-divider"/>

<!-- Formulario para responder pregunta  -->
<% if signed_in? %>
  <h3>Responde la Pregunta</h3>

  <p id="notice" style="color:red; font-size:25px;"><%= notice %></p>

  <%= form_for [@question, @question.answers.build] do |f| %>
    <div class="form-group">
      <%= f.text_area :body, class: "form-control", placeholder: "Respuesta"%>
    </div>
    <%= f.submit "Responder", class: "btn btn-primary" %>
  <% end %>
<% else %>
<div>
  <%= link_to "Responder", user_session_path, class: "btn btn-primary" %>
</div>
<% end %>
</div>
