<div class="container-fluid" style="margin-top:80px;">

  <!-- jumbotron que muestra la pregunta  -->
<div class="jumbotron">
  <h2>Pregunta del usuario <strong><%= @question.user.email     %></strong></h2>
  <h3><%= @question.title %></h3>
  <p><%= @question.body %></p>
    <% if signed_in? %>
      <% if current_user.id == @question.user.id %>
        <%= link_to 'Editar', edit_question_path(@question) %>
        <%= link_to 'Borrar', question_path(@question), method: :delete %>
      <% end %>
    <% end %>
</div>

<!-- Comentarios de las preguntas  -->
<h1><span class="label label-info">Comentarios</span></h1>

<!-- Loop que muestra los comentarios de las preguntas  -->
<% @question.comments.each do |comment| %>
  <p> <%= comment.body %> <span class="user"> Usuario: <%= comment.user.email %></span></p>
  <hr class="comments"/>
<%end %>

<!-- Form para comentar las preguntas -->
<% if signed_in? %>
  <h3>Comentar la Pregunta</h3>
  <h4>
    Hola <span class="orange-user"><%= User.find_by(id: current_user.id).email %></span> realiza tu comentario a la pregunta
  </h4>

  <%= form_for [@question, @question.comments.build] do |f| %>
    <div class="form-group">
      <%= f.text_area :body, class: "form-control", placeholder: "Agregar Comentario"%>
    </div>
      <%= f.submit "Comentar", class: "btn btn-primary" %>
  <% end %>
<% else %>
<div>
  <%= link_to "Comentar Pregunta", user_session_path, class: "btn btn-primary" %>
</div>
<% end %>


<!-- Linea que divide Comentarios de respuestas   -->
<hr class="section-divider"/>

<!-- Titulo de Respuestas -->
<h1><span class="label label-info">Respuestas</span></h1>

<!-- Loop que muestra las respuestas -->
<% @question.answers.each do |answer| %>
  <div class="jumbotron">
    <p> <%= answer.body %> </p>
    <p>
      <span class="user"> Respuesta del usuario: <%= answer.user.email %></span>
    </p>
    <hr class="comments"/>

<!-- Loop que muestra los comentarios a las respuestas  -->
  <% answer.comments.each do |comment| %>
    <p> <%= comment.body %></p>
    <hr class="comments" />
  <%end %>


<!-- Seccion de comentar las respuestas -->
        <div class="row">
          <div class="col-md-9">
            <% if signed_in? %>
              <h3>Comentar la Respuesta</h3>
                <div class="container">
                  <h4>Hola  <strong style="color:orange; font-size:19px;"><%= User.find_by(id: current_user.id).email %></strong> realiza tu comentario a la Respuesta</h4>
                  <%= form_for [answer, answer.comments.build] do |f| %>
                  <div class="col-md-11">
                    <div class="form-group">
                      <%= f.text_area :body, class: "form-control", placeholder: "Agregar Comentario a la respuesta"%>
                    </div>
                  <%= f.submit "Comentar", class: "btn btn-primary" %>
                  <% end %>
                </div>
                </div>
            <% else %>
            <div class="text-right">
              <%= link_to "Comentar Respuesta", user_session_path, class: "btn btn-primary" %>
            </div>
            <% end %>
          </div>
        </div>
    </div>
  </div>
<%end %>
</div>
</div>
</div>


<!-- Linea que separa respuestas de preguntas para realizar nueva pregunta -->

<hr class="col-md-12" style="width: 72%; color: black; height: 4px; background-color:black; margin-bottom:10px; margin-top:15px;" />

<!-- Formulario para responder pregunta  -->
<div class="container-fluid">
<div class="row">
<div class="col-md-9">
<% if signed_in? %>
  <h3>Responde la Pregunta</h3>
    <div class="container">
      <h4>Hola  <strong style="color:orange; font-size:19px;"><%= User.find_by(id: current_user.id).email %></strong> Responde a la pregunta</h4>
      <%= form_for [@question, @question.answers.build] do |f| %>
      <div class="col-md-11">
      <div class="form-group">
        <%= f.text_area :body, class: "form-control", placeholder: "Respuesta"%>
      </div>
      <%= f.submit "Responder", class: "btn btn-primary" %>
      <% end %>
    </div>
    </div>
<% else %>
<div class="text-right">
  <%= link_to "Responder", user_session_path, class: "btn btn-primary" %>
</div>
<% end %>
</div>
</div>
</div>
