</br>
</br>
<div class="container">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control"%>
        <%= link_to "Forgot your password?", new_password_path(resource_name) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <div class="form-group">
        <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me, class: "checkbox-circle" %>
            <%= f.label :remember_me %>
        <% end -%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-3">
        <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
  </div>

<% end %>

</div>
