<!DOCTYPE html>
<html>
  <head>
    <title>FlowOverstack</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-fixed-top navbar-inverse" id="index">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% unless signed_in?%>
          <a class="navbar-brand" href="/">Flowoverstack</a>
          <% end %>
          <% if signed_in? %>
          <a class="navbar-brand" href="/"> Hola! <%= User.find_by(id: [current_user.id]).email%></a>
          <% end %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-right">

            <%= form_tag questions_path, method: :get do %>
              <div class="form-group">
                <%= text_field_tag :title, params[:title], class: "form-control", placeholder: "Concepto" %>
              </div>
                <%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-md" %>
            <% end %>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <% unless signed_in? %>
            <li><a href="/users/sign_up">Registrarse</a></li>
            <li><a href="/users/sign_in">Ingresar</a></li>
            <% end %>
            <% if signed_in? %>
            <li><%= link_to 'Salir', destroy_user_session_path, method: :delete, class: "btn-default-md" %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar -->
      </div><!-- /.container-fluid -->
    </nav>

    <%= yield %>
  </body>
</html>
